<div id="float-left">
    <button class="btn btn-icon btn-component">
        <mat-icon>add</mat-icon>New
    </button>
    <button class="btn btn-icon btn-component">
        <mat-icon>attach_file</mat-icon>Attach
    </button>
    <button class="btn btn-icon btn-component">
        <mat-icon>clear</mat-icon>Discard
    </button>
    <button class="btn btn-component">
        <mat-icon>more_horiz</mat-icon>
    </button>
</div>

<div id="float-right">
    <button class="btn btn-icon btn-component">
        <mat-icon>launch</mat-icon>Expand
    </button>
    <button class="btn btn-icon btn-component">
        <mat-icon>share</mat-icon>Share
    </button>
    <button class="btn btn-icon btn-component">
        <mat-icon>print</mat-icon>Print
    </button>
</div>