<div id="page-auth">
  <div>
    <img src="assets/images/logo.png">
    <h1>Application Name</h1>
    <small>Devim Dashboard Template</small>
  </div>
  <div>
    <form class="panel panel-auth">
      <h2>Begin Session</h2>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="matricula" placeholder="Matrícula ou CPF">
          <label for="matricula">Matrícula ou CPF</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="password" id="Senha" placeholder="Senha">
          <label for="Senha">Senha</label>
        </div>
      </div>

      <div class="form-group panel-auth-actions">
        <div>
          <label class="label-check">Remember Information
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>

        <div>
          <button type="submit" class="btn btn-blue">Login</button>
        </div>
      </div>

      <div class="form-group">
        <small><a href="#">Request Access</a></small> | <small><a href="#">Remember password</a></small>
      </div>
    </form>
  </div>
</div>