<div id="page-admin">
  <div id="page-header">
    <div id="header-title">
      <button class="btn btn-component btn-component-contrast">
        <mat-icon>apps</mat-icon>
      </button>
      <span>Application Name</span>
    </div>

    <div id="header-buttons">
      <button class="btn btn-component btn-component-contrast">
        <mat-icon>event_note</mat-icon>
      </button>
      <button class="btn btn-component btn-component-contrast">
        <mat-icon>comment</mat-icon>
      </button>
      <app-user-button></app-user-button>
    </div>
  </div>

  <div id="page-wrapper">

    <div id="navigation">
      <div id="quick-access">
        <button class="btn btn-component">
          <mat-icon>menu</mat-icon>
        </button>
        <button class="btn btn-component">
          <mat-icon>flash_on</mat-icon>Quick Action
        </button>
      </div>
      <app-menu></app-menu>
    </div>

    <div id="container">

      <app-toolbar></app-toolbar>

      <div id="content-header">
        <h2>Page - Components</h2>
      </div>

      <div id="content">
        <p>O vídeo fornece uma maneira poderosa de ajudá-lo a provar seu argumento. Ao clicar em Vídeo Online,
          você
          pode colar o código de inserção do vídeo que deseja adicionar. Você também pode digitar uma
          palavra-chave para pesquisar online o vídeo mais adequado ao seu documento. Para dar ao documento
          uma
          aparência profissional, o Word fornece designs de cabeçalho, rodapé, folha de rosto e caixa de texto
          que
          se complementam entre si. Por exemplo, você pode adicionar uma folha de rosto, um cabeçalho e uma
          barra
          lateral correspondentes. Clique em Inserir e escolha os elementos desejados nas diferentes galerias.
          Temas e estilos também ajudam a manter seu documento coordenado. Quando você clica em Design e
          escolhe
          um novo tema, as imagens, gráficos e elementos gráficos SmartArt são alterados para corresponder ao
          novo
          tema. Quando você aplica estilos, os títulos são alterados para coincidir com o novo tema. Economize
          tempo no Word com novos botões que são mostrados no local em que você precisa deles.</p>

        <div style="display: flex; align-items: center; justify-content: space-around; padding-bottom: 20px;">
          <button class="btn btn-small">Button Small</button>
          <button class="btn">Button</button>
          <button class="btn btn-large">Button Large</button>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-around; padding-bottom: 20px;">
          <button class="btn btn-small btn-blue">Button Small</button>
          <button class="btn btn-blue">Button</button>
          <button class="btn btn-large btn-blue">Button Large</button>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-around; padding-bottom: 20px;">
          <button class="btn btn-small btn-red">Button Small</button>
          <button class="btn btn-red">Button</button>
          <button class="btn btn-large btn-red">Button Large</button>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-around; padding-bottom: 20px;">
          <button class="btn btn-small btn-green">Button Small</button>
          <button class="btn btn-green">Button</button>
          <button class="btn btn-large btn-green">Button Large</button>
        </div>

        <div style="display: flex; align-items: center; justify-content: space-around; padding-bottom: 20px;">
          <button class="btn btn-small btn-yellow">Button Small</button>
          <button class="btn btn-yellow">Button</button>
          <button class="btn btn-large btn-yellow">Button Large</button>
        </div>
      </div>
    </div>
  </div>
</div>