<div id="page-auth">
  <div>
    <img src="assets/images/logo.png">
    <h1>Application Name</h1>
    <small>Devim Dashboard Template</small>
  </div>
  <div>
    <form class="panel panel-auth">
      <h2>Access Request</h2>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="document" placeholder="Document">
          <label for="document">Document</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="name" placeholder="Name">
          <label for="name">Name</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="email" placeholder="Email">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="phone" placeholder="Phone">
          <label for="phone">Phone</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="cellphone" placeholder="Cellphone">
          <label for="cellphone">Cellphone</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="birthday" placeholder="Birthday">
          <label for="birthday">Birthday</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="mothername" placeholder="Mother Name">
          <label for="mothername">Mother Name</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="text" id="maritalstatus" placeholder="Marital Status">
          <label for="maritalstatus">Marital Status</label>
        </div>
      </div>

      <div class="form-group">
        <div class="floating-label">
          <input type="password" id="Senha" placeholder="Senha">
          <label for="Senha">Senha</label>
        </div>
      </div>

      <div class="form-group panel-auth-actions">
        <div>
          <button type="submit" class="btn">Go to login</button>
        </div>

        <div>
          <button type="button" class="btn btn-blue">Request</button>
        </div>
      </div>
    </form>
  </div>
</div>