.panel {
  background: map-get($colors, "white-light");
  border: 4px solid rgba(map-get($colors, "gray-dark"), 0.25);
  padding: 40px 50px 50px;
  @include border-radius();

  h2 {
    padding-bottom: 18px;
    font-weight: 600;
  }
}